language: rust

matrix:
  include:
    - rust: nightly
      script:
        - cargo test
        - cargo test --features preserve_order
        - cargo test --features arbitrary_precision
        - cargo test --features raw_value
        - cargo test --features unbounded_depth

    - rust: 1.30.0
      script:
        - cargo build --manifest-path tests/crate/Cargo.toml
        - cargo build --manifest-path tests/crate/Cargo.toml --features preserve_order
        - cargo build --manifest-path tests/crate/Cargo.toml --features arbitrary_precision

    - rust: stable
    - rust: beta
    - rust: 1.31.0
    - rust: 1.36.0
      script:
        - cargo build --no-default-features --features alloc

    - rust: nightly
      name: Clippy
      script:
        - rustup component add clippy || travis_terminate 0
        - cargo clippy

script:
  - cargo build
  - cargo build --features preserve_order
  - cargo build --features arbitrary_precision
