language: rust
sudo: false

# run builds for all the trains (and more)
rust:
- stable
- beta
- nightly

addons:
  apt:
    packages:
    - libcurl4-openssl-dev
    - libelf-dev
    - libdw-dev

before_script:
- |
    pip install 'travis-cargo<0.2' --user &&
    export PATH=$HOME/.local/bin:$PATH

script:
- |
    (cd json && travis-cargo build) &&
    (cd json && travis-cargo test) &&
    (cd json_tests && travis-cargo test) &&
    (cd json_tests && travis-cargo bench) &&
    (cd json && travis-cargo --only stable doc)

after_success:
- (cd json && travis-cargo --only stable doc-upload)
- (cd json_tests && travis-cargo coveralls --no-sudo)

env:
  global:
    # override the default `--features unstable` used for the nightly branch (optional)
    - TRAVIS_CARGO_NIGHTLY_FEATURE=""

    # encrypted github token for doc upload (see `GH_TOKEN` link above)
    - secure: gBncBIWuvpl2JSibtPwf7vkZeAVzQl8z9FpFWr2I/WD8N6Xa1ozY30/Iq+bKIlKc7kJAhunGoi7J7noRrOlw2XOh238omPEatrlHxjCoSPyd/n1uidt5HhMnuZ+cjMwNR0DoQJuBoZqGRRFkH+vuowtkr5LOMeEFfLSmpqcXv/X+HscI5nHrxi0MPWOZHl8BZ2MlYJsw81Cfz/aQZjkO5Z+6zeueeyC3G9kaLTiJ8NBe99v407a84RylMkGDXpyvlUUJLfGTbOnM8OJ6F9pdm8whSVrf6faS/6pJjPwTg3ROVfdbpn+PZiGSwPKGDTYQzyOOWaDAxkC+YCQwQIlkZIm9g0fJJs5sHMY0WGtpbQeOLnI3XmZiy+4ggAz0qpcTTSWwTrgYNs8VvCfMdIQ2CWkZ9nOsgwnt90zvg3vGJmDZboerOZJcfEZ/y0GGOLasl7CXlGYfaseOwPA1DgqDFaZSbWyi4bQsYIzx47/qoWgVLpp+WWuTgT1A3WrenPRcSem34Ue/q3t9fYBdL4CUgDJeAU3+vbJBSdb+fI1u+pTNDNxgSI37aawPZBXXSq3P32xCTlLjUAsXRiof+ce7ah25qDr5ZNGWwIwJYg3RMvQjgkMpDhLBydox7Jt0mBJidNU8eltLgGg42kmPB1cWQGqjc1qMBovU+Ynq/qTUnBA=
