language: rust
sudo: false

# run builds for all the trains (and more)
rust:
- stable
- nightly
- 1.8.0
- 1.9.0
- beta

matrix:
  include:
    - rust: nightly
      env: BENCH=1

addons:
  apt:
    packages:
    - libcurl4-openssl-dev
    - libelf-dev
    - libdw-dev

before_script:
- |
    pip install 'travis-cargo<0.2' --user &&
    export PATH=$HOME/.local/bin:$PATH

script:
- |
    if [ -z $BENCH ]; then
        (cd json && travis-cargo build) &&
        (cd json && travis-cargo build -- --features preserve_order) &&
        (cd json && travis-cargo --only nightly test) &&
        (cd json_tests && travis-cargo --skip nightly test -- --features with-syntex --no-default-features) &&
        (cd json_tests && travis-cargo --only nightly test -- --features unstable-testing) &&
        (cd json && travis-cargo --only stable doc)
    else
        (cd json_tests && travis-cargo bench)
    fi

after_success:
- (cd json_tests && travis-cargo --only stable coveralls --no-sudo)

env:
  global:
    # override the default `--features unstable` used for the nightly branch (optional)
    - TRAVIS_CARGO_NIGHTLY_FEATURE=""
