[package]
name = "serde_json"
version = "0.9.10" # remember to update html_root_url
authors = ["Erick Tryzelaar <erick.tryzelaar@gmail.com>"]
license = "MIT/Apache-2.0"
description = "A JSON serialization file format"
repository = "https://github.com/serde-rs/json"
documentation = "http://docs.serde.rs/serde_json/"
keywords = ["json", "serde", "serialization"]
categories = ["encoding"]
readme = "README.md"
include = ["Cargo.toml", "src/**/*.rs", "README.md", "LICENSE-APACHE", "LICENSE-MIT"]
publish = false # this branch contains breaking changes

[badges]
travis-ci = { repository = "serde-rs/json" }
appveyor = { repository = "serde-rs/json" }

[dependencies]
serde = { git = "https://github.com/serde-rs/serde", branch = "master" }
num-traits = "0.1.32"
linked-hash-map = { version = "0.4.1", optional = true }
itoa = "0.3"
dtoa = "0.4"

[dev-dependencies]
compiletest_rs = "0.2"
serde_bytes = { git = "https://github.com/serde-rs/bytes", branch = "master" }
serde_derive = { git = "https://github.com/serde-rs/serde", branch = "master" }


### FEATURES #################################################################

[features]
default = []

# Use LinkedHashMap rather than BTreeMap as the map type of serde_json::Value.
# This allows data to be read into a Value and written back to a JSON string
# while preserving the order of map keys in the input.
preserve_order = ["linked-hash-map"]
